html, body {
    width: 70%;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

/* #inputField {
    height: 30px;
    width: 300px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
} */